<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040914950557-r0k2etqi9593j5svuiqkr23arbpbheld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040914950557-r0k2etqi9593j5svuiqkr23arbpbheld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040914950557-5dh4erskr1kn0kqqr1to99djd1m0c7sq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqPWHte09O4zscIFtUmOSrNKJS_Y5r-0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1040914950557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lathode.chefbook</string>
	<key>PROJECT_ID</key>
	<string>chef-book-d5698</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-book-d5698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040914950557:ios:951b3dff9281fb1f95a774</string>
	<key>DATABASE_URL</key>
	<string>https://chef-book-d5698.firebaseio.com</string>
</dict>
</plist>